*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
/judge-files/contests/*
/judge-files/check-system/tmp/*
**.orig
rerun.txt
pickle-email-*.html