<%= render "contest" %>

<% @contest.problems_count.times do |i| %>
	<% @submissions = @summary[i+1] %>

  <% if not @submissions.blank? %>
  	<div>
  	  <p>Problem <%= @contest.problems[i+1].order_abc %></p>
  	  <%= render "submits/submits" %>
      <br/>
  	</div>    
  <% end %>
<% end %>