<h2>Listing pages</h2>
<br />

<table style="padding-left:30px;">
  <tr>
    <th>Name</th>
    <th></th>
    <th>email</th>
  </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>

</table>