<%= link_to 'edit registration', edit_user_registration_path, :class => "btn btn-primary" %>

<br />
<br />
<%= link_to 'New Page', new_page_path, :class => "btn btn-primary" %>

<br />
<h2>Your pages</h2>


<% @pages = current_user.pages %>
<%= render 'pages/pages' %>
