<%= render "contests/contest" %>

<% @contest.problems_count.times do |i| %>
  <% problem = @contest.problems[i] %>
  <% @submissions = @submits.where(problem: problem) %>

  <div class="well">
    <p>Problem <%= i+1 %></p>
    <%= render "submits" %>
  </div>
<% end %>