<h2>Listing pages</h2>
<%= link_to 'New Page', new_page_path, :class => "btn btn-primary" %>
<br />


<% @nodes.each do |node| %>
    <% if !node.pages.nil? %>
        <h5> <%= node.name %> </h5>
        <% @pages = node.pages.sort { |a, b| b.order <=> a.order } %>
        <%= render 'pages/pages' %>
        <br />
    <% end %>
<% end %>
