<h1>Edit</h1>


<% if can? :manage, User %>
  <br/>
  <%= render '/users/index' %>
<% end %>


<% if can? :manage, Node %>
  <br/>
  <br/>
  <%= render '/nodes/index' %>
<% end %>


<% if can? :manage, Page %>
  <br/>
  <br/>
  <%= render '/pages/index' %>
<% end %>	