/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#body-bgcolor {
  background-color: #EFEDEA;
}


#articles {
  padding: 0px 7px 0px 7px;
  background-color: white;
}
a.article-title:hover,
a.article-title:active,
a.article-title:focus,
a.article-title {
  background-color: #f4f2ef;
  color: black;
  font-weight:  lighter;
  text-decoration: none;
}

.article-author {
  margin-top: -15px;
  color: #666;
  font-size: 0.923em;
}
article > header > hr {
  margin-top: 2px;
}
article > p {
  margin-top: -10px;
  background-color: #f4f2ef;
}
article {
  margin-bottom: 10px;
  background-color: #f4f2ef;
  border: 0px solid black;
  padding: 0 7px 7px 7px;
  border-radius: 4px;
}

.brand:hover {
  background-color: #f7f7f7;
  border-radius: 5px;
};

.readmore {

}

.readmore:hover {
  color: gray;
  background-color: white;
}

